<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #6390EA;
}

h1 {
    color: #22F3D7;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

body {
	font-size: 20px;
    background-color: #6390EA;
   }
   
   <div class="container" style="width:auto;">

<div id="content" style="background-color:#22BCF3;">

</style>
</head>
<body>


</body>
</html>
